{% extends 'music/basic.html' %}
{% block title %}Album Detail{% endblock %}
{% block html %}
    <div class="box" style="padding-top: 140px;">
        <img src="{{ album.album_logo }}">

        <h1>{{ album.album_title }}</h1>
        <h2>{{ album.artist }}</h2>

        <ul>
            {% for song in album.song_set.all %}
                <li>{{ song.song_title }}-{{ song.file_type }}</li>
            {% endfor %}
        </ul>

        {% if error_message %}
            <p><b>{{ error_message }}</b></p>
        {% endif %}

        <form action="/music/{{ album_id }}/favorite" method="post">
            {% csrf_token %}
            {% for song in album.song_set.all %}
                <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
                <label for="song{{ forloop.counter }}">
                    {{ song.song_title }}
                    {% if song.is_favorite %}
                        <img src="http://i.imgur.com/b9b13Rd.png"/>
                    {% endif %}
                </label><br>
             {% endfor %}

            <input type="submit" value="favorite">
        </form>
    </div>
{% endblock %}